.loginConntainer{
  overflow: hidden;
}
.signupRow {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100dvh;
    box-sizing: border-box;
  }
  
  .loginForm {
    display: flex;
    flex-direction: column; /* Stack form fields vertically */
    align-items: center;
    justify-content: flex-start; /* Align from the top */
    border: 1px solid #303481;
    box-shadow: 15px 15px black;
    width: 70%;
    height:max-content;
    padding: 10px; /* Padding around the content */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
  }
   
  .inputField {
    padding: 3px;
    width: 100%;
  }
  
  input {
    padding-right: 30px;
  }

  mat-icon {
    transition: opacity 0.3s ease, transform 0.5s ease;
  }
  
  mat-icon.fade {
    opacity: 1;  /* Make the icon fade out */
    transform: scale(0.9);  /* Optional: Slightly shrink the icon when fading out */
  }

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}
  
  /* For mobile devices */
  @media (max-width: 600px) {
    .loginForm {
      width: 90%; /* On mobile, the login form takes up 90% of the width */
    }
  }
  
  /* For tablets */
  @media (min-width: 601px) and (max-width: 1024px) {
    .loginForm {
      width: 70%; /* On tablets, the login form takes up 70% of the width */
    }
  }
  