@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
  color-scheme: light dark;
  @include mat.theme((
    typography: (
      plain-family: Roboto,
      brand-family: Open Sans,
      bold-weight: 900,
      medium-weight: 500,
      regular-weight: 300,
    ),
    density: 0
  ));
}

html {
    --mat-sys-background: #faf9fd;
    --mat-sys-error: #ba1a1a;
    --mat-sys-error-container: #ffdad6;
    --mat-sys-inverse-on-surface: #f2f0f4;
    --mat-sys-inverse-primary: #abc7ff;
    --mat-sys-inverse-surface: #2f3033;
    --mat-sys-on-background: #1a1b1f;
    --mat-sys-on-error: #ffffff;
    --mat-sys-on-error-container: #410002;
    --mat-sys-on-primary: #ffffff;
    --mat-sys-on-primary-container: #001b3f;
    --mat-sys-on-primary-fixed: #001b3f;
    --mat-sys-on-primary-fixed-variant: #00458f;
    --mat-sys-on-secondary: #ffffff;
    --mat-sys-on-secondary-container: #131c2b;
    --mat-sys-on-secondary-fixed: #131c2b;
    --mat-sys-on-secondary-fixed-variant: #3e4759;
    --mat-sys-on-surface: #1a1b1f;
    --mat-sys-on-surface-variant: #44474e;
    --mat-sys-on-tertiary: #ffffff;
    --mat-sys-on-tertiary-container: #00006e;
    --mat-sys-on-tertiary-fixed: #00006e;
    --mat-sys-on-tertiary-fixed-variant: #0000ef;
    --mat-sys-outline: #32A0C5;
    --mat-sys-outline-variant: #c4c6d0;
    --mat-sys-primary: #32A0C5;
    --mat-sys-primary-container: #d7e3ff;
    --mat-sys-primary-fixed: #d7e3ff;
    --mat-sys-primary-fixed-dim: #abc7ff;
    --mat-sys-scrim: #000000;
    --mat-sys-secondary: #565e71;
    --mat-sys-secondary-container: #dae2f9;
    --mat-sys-secondary-fixed: #dae2f9;
    --mat-sys-secondary-fixed-dim: #bec6dc;
    --mat-sys-shadow: #000000;
    --mat-sys-surface: #faf9fd;
    --mat-sys-surface-bright: #faf9fd;
    --mat-sys-surface-container: #efedf0;
    --mat-sys-surface-container-high: #e9e7eb;
    --mat-sys-surface-container-highest: #e3e2e6;
    --mat-sys-surface-container-low: #f4f3f6;
    --mat-sys-surface-container-lowest: #ffffff;
    --mat-sys-surface-dim: #dbd9dd;
    --mat-sys-surface-tint: #005cbb;
    --mat-sys-surface-variant: #e0e2ec;
    --mat-sys-tertiary: #343dff;
    --mat-sys-tertiary-container: #e0e0ff;
    --mat-sys-tertiary-fixed: #e0e0ff;
    --mat-sys-tertiary-fixed-dim: #bec2ff;
    --mat-sys-neutral-variant20: #2d3038;
    --mat-sys-neutral10: #1a1b1f

    
}

html{
    font-size: clamp( 0.7rem, 1vw, 1rem);
    background-color: #FBE543;
}

mat-form-field{
    width: 70% !important;
}

input{
    margin: 10px;
    padding-right: 30px;
}

h1{
    color:#424242;

}

.submitButton{
  width: 150px; /* Set the width */
  border-radius: 5px !important; /* Add rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; 
  font-size: 16px !important; /* Font size */
  font-weight: 400 !important;
  padding: 20px 0 20px 0 !important;
}

/* For mobile devices */
@media (max-width: 600px) {
    mat-form-field {
      width: 90%; /* On mobile, the signup form takes up 90% of the width */
      height: 30px !important;
      margin: 28px;
    }
    .submitButton{
      width: 30%; 
      margin-top: 30px;
    }

  }
  
  /* For tablets */
  @media (min-width: 601px) and (max-width: 1024px) {
    mat-form-field {
      width: 70%; /* On tablets, the signup form takes up 70% of the width */
    }
  }



